body {
  margin: 0 auto;
}

.container {
  height: 1000px;
  gap: 5px;

  display: grid;
  grid-template: 40px 2fr 1fr 40px / 1fr;
  grid-template-areas:
  "header"
  "main"
  "aside"
  "footer";
}

header {
  grid-area: header;
  background-color: rgb(215, 247, 141);
}

main {
  grid-area: main;
  background-color: rgb(141, 217, 247);
}
aside {
  grid-area: aside;
  background-color: rgb(247, 141, 203);
}
footer {
    grid-area: footer;
    background-color: rgb(247, 205, 141);
  }

  @media screen and (min-width: 1024px) {

.container {
  grid-template: 1fr 3fr 2fr 40px / 1fr 2fr;
  grid-template-areas:
  "header main"
  "header main"
  "header aside"
  "header footer";
}
  }

  @media screen and (min-width: 1920px) {

    .container {
      grid-template:  3fr 40px / 1fr 3fr 1fr;
      grid-template-areas:
      "header main aside"
      "header footer aside";
    }
      }
